<launch>

    <arg name="airsim_imu_hz" default="1" />
    <arg name="airsim_gndtruth_hz" default="200" />
    <arg name="airsim_img_hz" default="5" />
    <arg name="airsim_lidar_hz" default="5" />

    <arg name="mode" default="record" />  <!-- choose "record" or "play" or "check"-->

    <!-- Launch the airsim node -->
    <arg name="host" default="localhost" />
    <arg name="airsim_output_mode" default="log" />
    <node required="true" name="airsim_node" pkg="airsim_ros_pkgs" type="airsim_node" output="$(arg airsim_output_mode)">
        <!-- ROS timer rates. Note that timer callback will be processed at maximum possible rate, upperbounded by the following ROS params -->
        <param name="is_vulkan" type="bool" value="false" /> 
        <param name="update_airsim_img_response_every_n_sec" type="double" value="$(eval 1.0/airsim_img_hz)" /> 
        <param name="update_lidar_every_n_sec" type="double" value="$(eval 1.0/airsim_lidar_hz)" />
        <param name="update_imu_n_sec" type="double" value="$(eval 1.0/airsim_imu_hz)" />
        <param name="update_airsim_control_every_n_sec" type="double" value="$(eval 1.0/airsim_gndtruth_hz)" />
        <param name="host_ip" type="string" value="$(arg host)" />
    </node>


    <!-- Launch the joystick driver-->
    <node name="joy" pkg="joy" type="joy_node" output="log"
          args="/dev/input/by-id/usb-Microsoft_Controller_3039373130393831323733303532-event-joystick" />


    <!-- Launch the joyctr node -->
    <node name="airsim_joyctr" pkg="airsim_joyctr" type="airsim_joyctr_node" output="screen">
        <param name="scale"    type="int" value="3" />
    </node>


    <!-- Record the bag -->
    <group if="$(eval mode == 'record')">
        <!-- rosbag recorder -->
        <node required="true" pkg="rosbag" type="record" name="rosbag_record"
              args="-o /media/$(env USER)/mySamsungSSD/AirSim_29032021/nbh.bag
                    /airsim_node/drone_0/imu/Imu
                    /airsim_node/drone_0/drone_state
                    /airsim_node/drone_0/left/Scene
                    /airsim_node/drone_0/right/Scene
                    /airsim_node/drone_0/lidar/Lidar0
                    /airsim_node/drone_0/lidar/Lidar1
                    /airsim_node/drone_0/odom_global
                    /uwb_endorange_info_200"
              launch-prefix="bash -c 'sleep $(arg bag_record_delay); $0 $@' " />
    </group>

    
    <!-- Launch the visualization -->
    <node name="rviz_visualisation" pkg="rviz" type="rviz" output="log"
          args="-d $(find airsim_joyctr)/launch/airsim.rviz" />

</launch>